
<%= form_tag({controller: "todolist", action: "create"}, method: "post") do %>
	<h1 class="text-center">Nueva tarea</h1>

	<%= label_tag :titulo, "Título" %>
	<%= text_field_tag :titulo, "", placeholder: "Titulo de la tarea", class:"form-control" %>
	
	<br>
	<%= label_tag :descripcion, "Descripción" %>
	<%= text_area_tag :descripcion, "", placeholder: "Descripción de la tarea", class:"form-control" %>
	
	<br>
	<%= submit_tag "Crear", class:"btn btn-block btn-lg btn-success"%>
<%end%>